.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px - 43px - 24px);

    &.content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;

        header {
            font-size: 17px;
            text-transform: uppercase;
        }

        button,
        a {
            font-size: 14px;
            font-weight: 600;
            color: #3a86ff;
            text-decoration: none;
            position: relative;
        }

        a {
            padding-top: 5px;
        }

        button {
            text-transform: uppercase;
        }

        button,
        a:hover {
            color: #1b71fb;
        }

        .login {
            padding-top: 5px;
        }
    }

    .social {
        // padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        // align-items: flex-start;

        a {
            font-size: 14px;
            font-weight: 600;
            color: #3a86ff;
            text-decoration: none;
            position: relative;

            display: flex;
            align-items: center;
            gap: 5px;
        }

        a:hover {
            color: #1b71fb;
        }
    }

    .divider {
        width: 100%;
        border-top: 1px solid #ccc;
        margin: 15px 0;
    }
}